<app-header></app-header>
<br />
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-7 ml-sm-auto col-lg-9 px-4">
            <div>
                Id del Juego: #{{juegoId}}
            </div>
            <div>
                <h2>Puntaje: {{puntaje}}</h2>
            </div>
            <div>
                <h3>{{message}}</h3>
            </div>
            <div class="infoBar">
                <h4>RONDA # {{numeroRonda}} Jugadores [{{jugadoresRonda}}/{{jugadoresTablero}}]</h4>
                <h1 class="h2">Cuenta Regresiva {{tiempo}}s</h1>
                <button mat-button (click)="iniciarRonda()" disabled="{{roundStarted}}" color="primary">
                   INICIAR
                </button>
            </div>
            <div class="cartasDelTablero">
                <div *ngFor="let card of cartasDelTablero">
                    <div class="carta">
                        <div>
                            <img mat-card-image src="/assets/{{card.cartaId}}" />
                        </div>
                        <div>
                            Poder {{card.poder}}
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="cartasDelJugador">
            <div *ngFor="let card of cartasDelJugador" >
                <div *ngIf="!card.estaOculta">
                    <div >
                        <img mat-card-image src="/assets/{{card.cartaId}}" />
                    </div>
                    <div>
                        Poder {{card.poder}}
                    </div>

                    <button mat-button (click)="poner(card.cartaId, card.poder)" color="primary" disabled="{{!roundStarted}}">
                        MOVER A TABLERO
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
