<app-header></app-header>
<div class="container">
  <div>
      <main>
          <div class="card newGame">

              <div class="title">
                  <h1 class="h2">Crear Juego</h1>
              </div>
              <p>Invite a los jugadores a participar del juego</p>
              
              <input type="text" placeholder="Selecciones jugadores" aria-label="Selecciones jugadores"
                  [matAutocomplete]="auto" [formControl]="userControl" #userInput>
              <label>Ingrese el nombre del jugador </label>

              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  <mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers">
                      <div (click)="optionClicked($event, user)">
                        <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" 
                            (click)="$event.stopPropagation()">
                          {{ user.displayName }} [{{ user.email }}]
                        </mat-checkbox>
                      </div>
                  </mat-option>
              </mat-autocomplete>

              <br><br>

              <label>Jugadores Seleccionados:</label>
              <mat-list dense>
                  <mat-list-item *ngIf="selectedUsers?.length === 0">(None)</mat-list-item>
                  <mat-list-item *ngFor="let user of selectedUsers">
                      {{ user.displayName }} [{{ user.email }}]
                  </mat-list-item>
              </mat-list>

              <button mat-stroked-button color="primary" (click)="crearJuego()" *ngIf="spin">Crear Juego</button>
              <div class="spinner" [hidden]="spin"></div>
          </div>
      </main>

  </div>
</div>

